.Profile {
  max-width: 880px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile__container {
  width: 486px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.profile__image {
  width: 120px;
}

.profile__info {
  width: 336px;
  position: relative;
  align-self: center;
}

.profile__name {
  width: 294px;
  color: white;
  line-height: 48px;
  font-size: 42px;
  font-weight: 500;
}

.profile__proffesion {
  width: 336px;
  color: white;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  right: 0;
  background: transparent;
  border: none;
}

.profile__edit-icon {
  width: 24px;
  height: 24px;
}

.profile__add-card-button {
  margin-top: 40px;
  width: 150px;
  height: 50px;
  align-self: center;
  background: transparent;
  border: none;
}

.profile__add-card-icon {
  width: 150px;
  height: 50px;
}
