@media screen and (max-width: 700px) {
  .cards {
    width: 282px;
  }

  .cards__container {
    width: 282px;
    grid-template-columns: repeat(1, minmax(150px, 282px));
    grid-template-rows: repeat(6, minmax(150px, 361px));
    gap: 20px;
  }

  .card {
    width: 282px;
  }
}
