.header {
  width: 100%;
  display: flex;
  gap: 685px;
}

.header__logo {
  width: 142px;
  height: 33px;
}

.header__login {
  width: 53px;
  line-height: 22px;
  font-size: 18px;
  font-weight: 400;
  background: transparent;
  border: none;
  color: white;
}

@media screen and (max-width: 700px) {
  .header {
    width: 320px;
  }
}
